body {
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
    font-size: 62.5%;
}
h2{
    text-align: center;
    vertical-align: central;
}
.clearfix {
	clear:both;
}
#main-wrapper{
    border-radius: 5px;    
    background-color: lightgrey;
    width: 500px;
    min-height: 600px;
    padding: 5px;
    border: 2px solid navy;
    margin: 10px;
}
#canvas3d-controller-wrapper{
    margin-top: 30px;
}
#canvas3d-wrapper{
    /*float: left;*/
    width: 500px;  
	clear:both;
}
#canvas3d-title, #controller-title{
    height: 25px;
    color: #638EA8;
    background-color: #E4EAED;    
    border-top: 1px #85A8C2 solid;
    border-right: 1px #85A8C2 solid;
    border-bottom: 1px #85A8C2 solid;
    border-left: 1px #85A8C2 solid;    
    font-size: 16px;
    font-weight: bold;
    padding-left: 5px;
}
#canvas3d-view{
    background-color: black;
    height: 500px;
}

#controller-wrapper{    
    width: 500px;
    background-color: skyblue;
	padding:10px 0; 
}
.contDiv {
	text-align:center;
	float:left;
	width:33.33333%;
}

#right-button{
    text-align: right;
}
#left-button,#right-button{
    /*    width: 80px;*/
}

#left-button,#slider-wrapper{
    float: left;
}
#slider-wrapper{

}
#slider1{

}